body {
  background-color: #87CEEB;
}
table {
  border: 1px solid black;
}
th {
  font-color: #000000;
  border: 1px solid black;
  background-color: blue;
}
td {
  font-color: #000000;
  border: 1px solid black;
}
