body {
  background-color: lightgreen;
}
h2 { 
  color: mediumblue;
}
h1 {
  color: mediumblue;
}
table {
  color: darkblue;
}
table, th, td {
  border: 1px solid black;
  color: black;
}
