body {
    background-color: lightgrey;
  }
  h2 {
    color: red;
}
h1 {
  color: red;
}
table, th, td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
td {
  text-align: center;
}
th {
  background-color: black;
  color: white;
}

