body {
    background-color: lightgrey;
  }
  h2 {
    color: red;
}
h1 {
  color: red;
}
table, th, td {
  border: 1px solid black;
}
table {
  border-collapse: collapse;
}
td {
  text-align: center;
}
th {
  background-color: black;
  color: white;
}
table{
    background-color:lightpurple;
}
th{
    height: 25px;
    text-align: center;
    background-color:orange;
}
td{
    text-align: left;
}
th, td{
    border-bottom:1px solid green;
    border-top:1px solid green;
    border-left: 1px solid green;
    border-right: 1px solid green;
}
tr:nth-child(even){background-color:lightblue;}
tr:hover{background-color:wheat;}

